@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Empurra os lados para as extremidades */
  align-items: center;
  padding: 12px 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0; /* Linha cinza sutil na parte inferior */
  width: 100%;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
  z-index: 1400;
  position: fixed; /* O segredo: fixa o elemento */
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(167, 167, 167, 0.1); /* Sombra opcional para destacar */
}

/* --- Lado Esquerdo --- */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 30px; /* Ajuste a altura conforme necessário */
  display: block;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 54px; /* Espaço entre os links */
}

.navbar-links a {
  text-decoration: none;
  color: #555555; /* Cor para links inativos */
  font-size: 1rem; /* 16px */
  font-weight: 500;
}

/* Estilo do link ativo (Página inicial) */
.navbar-links a.active {
  color: #001388; /* Azul do Metrô */
  font-weight: 600; /* Bold */
}

/* --- Lado Direito --- */
.navbar-right {
  display: flex;
  justify-content: center;
  gap: 24px; /* Espaço entre o perfil e o botão de logout */
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  gap: 10px;
  /* Indica que é clicável (para um dropdown) */
}

.user-avatar-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  gap: 10px;
}

.user-avatar {
  height: 50px;
  width: 50px;

  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  line-height: 1.3;
}

.user-info span {
  font-size: 0.8rem; /* "Olá!" pequeno */
  color: #666666;
}

.user-info strong {
  font-size: 1rem;
  font-weight: 700;
  color: #111111;
}

.user-profile svg {
  stroke: #333333; /* Cor da seta */
  cursor: pointer;
}

.logout-button {
  background-color: #001388; /* Azul escuro do botão */
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 10px 50px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-button:hover {
  background-color: #001f6a;
}
